.fixed-header{
	height: 50px;
	position: fixed;
	top: 0;
	left: 50px;
	right: 0;
	border-bottom: 1px solid grey;
	z-index: 1;
}

.nav-button{

}

/* Article List */

header{
	height: 100px;
	border-bottom: 1px solid grey;
	margin: 50px 0 0 -8px;
	position: relative;
	left: 50px;
	right: 0;
	top: 0;


}

.article-list{
	height: 100%;
	width: 100%;
}

.article-container{
	border-right: 1px solid grey;
	height: 90%;
	width: 20%;
	margin-left: 10px;
	position: relative;
	top: 5px;
	float: left;
}

.article-container img{
	margin: 7px 10px 0 10px;
	float: left;
}

.article-container>.thumb-text{
	font-size: 12px;
	display: block;
	float: left;
	width: 60%;
	margin-top: 30px;
	position: relative;
}

.article-container>.tag{
	font-size: 10px;
	position: absolute;
	margin-left: 95px;
}

.article-container>.thumb-text.jeff-bezos{
	margin-top: 15px;
}

.article-container.hidden{
	display: none;
}
/* Main Article */

article{
	top: 0;
	left: 40px;
	right: 0;
	position: relative;
}

.main-article-header-container{
	margin: 0 auto;
	width: 80%;
	height: 170px;
	display: block;
	position: relative;
	top: 5px;
	border-top: 1px solid black;
}

.main-article-tag{
	margin-top: 10px;
}

.main-article-tag > span{
	font-weight: bold;
}

.main-article-title{
	margin-top: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #AAA;	
}

.main-article-title > span{
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
}

.main-article-about{
	margin-top: 20px;
}

.main-article-about > .author{
	font-size: 12px;
}

.main-article-about > .date{
	font-size: 12px;
	margin-left: 10px;
	color: #555;
}

.main-article-about > .contacts-container{
	height: 25px;
	width: 25px;
	background-image: url("../assets/pics/sprite-no-repeat.svg");
	float: right;
	margin-right: 10px;
}

.main-article-about > .contacts-container.facebook{
	background-repeat: no-repeat;
	background-position: -59px -54px;
}

.main-article-about > .contacts-container.twitter{
	background-repeat: no-repeat; 
	background-position: 0px -313px;
}

.main-article-about > .contacts-container.mail{
	background-repeat: no-repeat;
	background-position: -131px -21px;
}

.main-article-about > .contacts-container.arrow{
	background-repeat: no-repeat;
	background-position: -242px -247px;
}

.separator{
	margin-right: 10px;
	float: right;
}

.contacts-container.log-in{

}

.main-article-pic{
	margin-top: 20px;
	margin-left: -40px;
}

.main-article-pic > figure > img{
	width: 105%;
}

figure > figcaption{
	width: 55%;
	font-size: 12px;
}

.author{
	font-size: 10px;
	color: #AAA;
}

/* Main Article Content */

.main-article-content{
	width: 80%;
	margin: 50px auto 0 auto;
}

p{
	margin-bottom: 30px;
	width: 60%;
}

.theory-of-inflation{
	margin-left: -80px;
	position: relative;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	width: 100%;
	height: 650px;

}

.theory-of-inflation > figure > img{
	width: 100%;
	margin-left: -780px;
	position: absolute;
	z-index: -1;
	height: 75%;
}

.theory-of-inflation > h4{
	margin-bottom: 0;
}
.theory-of-inflation > p{
	margin: 0;
	font-size: 11px;
	color: #777;
	right: 100px;
}

.inflation-section{
	font-size: 10px;
	color: #777;
	float: left;
	width: 25%;
	margin-top: 125px;
}

.inflation-section p{
	width: 100%;
}

.inflation-section.footer{
	margin: 0;
	width: 100%;
}

.professor-andrei-linde-video{
	margin-left: -100px;
}

section{
	width: 30%;
	height: 350px;
	font-size: 11px;
	color: grey;
	float: left;
	margin-right: 30px;
}

.science-times-form{
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;

}

.science-times-form > p{
	width: 100%;
}

.science-times-form > p > a{
	font-size: 11px;
	color: #777;

}

.checkbox-label{
	clear: both;
	display:block;
	margin-top: -20px;
	margin-left: 25px;
	color: #111;
}

.p-after-section{
}


.science-times-footer{
	border-top: 1px solid #555;
	padding-top: 5px;
}
input[type="submit"]{
	position: relative;
	float: right;
	margin-top: -28px;
	font-size: 12px;
	padding: 0;
}

.captcha{
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 20px 20px 20px 10px;
}

.not-a-robot{
}

.captcha-footer > p{
	font-size: 8px;
	margin: 0 0 0 150px;
	padding: 0;
	display: inline;
	color: #CCC;
}

.captcha-footer > p > a{
	color: #999;
	text-decoration: none;
}


.captcha-footer > p:last-child{
	font-size: 7px;
}

.captcha-img{
	float: right;
	margin-top: -30px;
	background: url("../assets/pics/recaptcha.png");
	background-size: 32px;
	height: 32px;
	width: 32px;
}

.telescope{
	margin-left: -100px;
}
.telescope > figcaption{
	width: 80%;
}

.closing-footer{
	font-size: 10px;
	color: #555;
}

.float-separator{
	clear: both;
}

article{
	position: relative;
	height: 8550px;
}
/* More in and Trendign Section */

.other-articles-section{
	margin-left: auto;
	width: 100%;
	height: 100%;
}

.more-in-section{
	display: block;
	width: 60%;
	height: 500px;
	float: left;
	margin-right: 50px;
}

.more-header-container{
	clear: both;
	width: 100%;
	height: 7%;
	display: block;
	padding-top: 10px;
	border-top: 1px solid #888;
}


.more-header-container > span:first-child{
	font-size: 13px;
	font-weight: bold;
}

.more-header-container > span:last-child{
	float: right;
}

.more-top-section{
	clear: both;
	width: 30%;
	display: inline;
}

.more-top-section > div{
	margin-left: 30px;
	float: left;
	width: 30.4%;
}

.more-top-section > div:first-of-type{
	margin: 0;
}


.top-section{
}

.top-section > p{
	width: 100%;
	margin: 5px 0 0 0;
}

.top-section > p:first-of-type{
	font-weight: bold;
}

.more-bottom-section{
	clear: both;
	width: 30%;
	display: inline;
}

.more-bottom-section > div{
	margin-left: 30px;
	width: 30.4%;
	float: left;
}

.more-bottom-section > div:first-of-type{
	clear: both;
	margin: 0;
}

.bottom-section > p{
	width: 100%;
	margin: 5px 0 0 0;
}

.bottom-section > p:first-of-type{
	font-weight: bold;
}

.trending-section{
	border-top: 1px solid #888;

	display: block;
	width: 35%;
	display: inline-block;
	height: 100%;
}

.trending-block{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #BBB;
	margin-top: 5px;
}


.content-block{
	width: 80%;
	float: left;
}

.picture-block{
	display: inline;
	width: 20%;
	float: left;
}

.picture-block > span> img{
	width: 30px;
	height: 30px;
}

.content-block > span{
	font-size: 11px;
}
